*{
    font-family: sans-serif;
}
.sidebar-nav {
    margin-top: 20px;
    padding: 0;
    list-style: none;
}

.sidebar-nav li a{
    color: #A6A6A6;
    text-decoration: none;
    
}

.sidebar-menu{
    padding-left: 20px;
    padding-top: 20px;
    font-size: 20px;
    height: 100%;
}

#login-card{
    margin-top: 20px;
    /*border: 1px solid black ;*/
}
