{% extends "base_generic.html" %}

{% block content %}
<h3>GerenciadorIOT</h3>

 {% if user.is_authenticated %}
 <p>Ola, voce esta logado como {{user.get_username}}.
<h4>Lista de dispositivos:</h4>

    <p><a href="{% url 'addlink' %}">Adicionar Link</a></p>   <!-- gerar graficos  -->
    <p><a href="{% url 'removelink' %}">Remover Ultimo Link</a></p>   <!-- gerar graficos  -->
{% block tabela %}
   {% include "tabela.html" %}
{% endblock %}
<h3></h3>
{% block tabeladisp %}
   {% include "tabeladisp.html" %}
{% endblock %}

 {% else %}

<p>Bem vindo ao <em>GerenciadorIOT</em>, um sistema basico para gerenciamento de dispositivos. <a target="_blank" rel="noopener noreferrer" href="https://github.com/lcharles123/gerenciadorIOT">Github</a>.</p>
<p>Por favor faca o login ou cadastre-se.</p>

 {% endif %}
<div>
{% load static %}
<!--<img src="{% static "images/mapa.png" %}" alt="My image" style="width:555px;height:540px;"/> -->
</div>  

<!--
<h2>Dynamic content</h2>

<p>The library has the following record counts:</p>
<ul>
<li><strong>Books:</strong> {{ num_books }}</li>
<li><strong>Copies:</strong> {{ num_instances }}</li>
<li><strong>Copies available:</strong> {{ num_instances_available }}</li>
<li><strong>Authors:</strong> {{ num_authors }}</li>
</ul>


You have visited this page {{ num_visits }} time{% if num_visits > 1 %}s{% endif %}.
-->
{% endblock %}
