<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th>linkID_id</th>
      <th>timeStamp</th>
      <th>dado</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>19</td>
      <td>2021-02-03</td>
      <td>1</td>
    </tr>
    <tr>
      <td>19</td>
      <td>2021-02-03</td>
      <td>4</td>
    </tr>
    <tr>
      <td>19</td>
      <td>2021-02-03</td>
      <td>13</td>
    </tr>
    <tr>
      <td>19</td>
      <td>2021-02-03</td>
      <td>18</td>
    </tr>
    <tr>
      <td>19</td>
      <td>2021-02-03</td>
      <td>22</td>
    </tr>
    <tr>
      <td>19</td>
      <td>2021-02-03</td>
      <td>11</td>
    </tr>
    <tr>
      <td>19</td>
      <td>2021-02-03</td>
      <td>8</td>
    </tr>
    <tr>
      <td>19</td>
      <td>2021-02-03</td>
      <td>-10</td>
    </tr>
    <tr>
      <td>19</td>
      <td>2021-02-03</td>
      <td>5</td>
    </tr>
    <tr>
      <td>20</td>
      <td>2021-02-03</td>
      <td>4</td>
    </tr>
  </tbody>
</table>